body{
    background-color: rgb(45, 107, 126);
    background-image:url(https://i.ibb.co/DKJfmnY/coding.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
    

    
   }
   
   nav{
    color: black;
    background-color: white;
    margin: 0;
    padding: 20px;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow:wrap;
    justify-content: space-around;
    flex-direction: row;
    padding-right: 62px;

   
   
   }
   div.head{
    font-size: 35px;
    font-family: monospace;
    position: relative;top: 20px;
       
   }
   ul{
    font-size: 25px;
    color: black;
    font-family: monospace;
       
       
     
   }
   a.nav{
    border-width: medium;
    color: black;
    margin-left: 35px;
    position: relative;right:35px;
       
   }
  
   div.services{
     background-color: rgb(29, 29, 29);
     color: white;
     margin: auto;
     position: relative;top: 200px;
     padding: 50px;
     width: 70%;
     height: auto;
     display: flex;
     flex-direction: column;
     text-align:center;
   }

   
   
   footer{
       margin: 0;
       padding: 20px;
       width: 100%;
       position: absolute;bottom: 0;left: 0;
       
       color: white;
       text-align: center;
       background-color: rgb(29, 29, 29);
       
       padding-bottom: 20px;
   }